spring:
  application:
    name: gateway-server
  config:
    import: nacos:gateway-server.yml
  cloud:
    nacos:
      config:
        server-addr: 127.0.0.1:8848
        file-extension: yml
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          default-filters:
            - AddResponseHeader=X-Response-Default-Foo, Default-Bar
          routes:
            - id: user-server
              uri: lb://user-server
              predicates:
                - Path=/user-server/**


ignore:
  urls:
    - /actuator/**
    - /user-server/login
